<div class="web text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand">COVID19 Registrierung</h3>
      </div>
    </header>

    <main role="main" class="inner cover">
      <h1 class="cover-heading">Der unkomplizierte Weg</h1>
      <p class="lead">
        Erstellen Sie in Sekunden einen QR Code für Ihren Betrieb und
        ermöglichen Sie so Ihren Kunden eine völlig unkomplizierte Registrierung.
      </p>

      <form>
        <div class="form-group">
          <input
            type="email"
            class="form-control"
            name="email"
            placeholder="E-Mail Adresse"
            [(ngModel)]="email"
          />
          <small class="form-text"
            >An diese E-Mail Adresse senden wir die Einträge. Bitte überprüfen
            Sie die funktionstüchtigektit und denken Sie auch an den
            Spam-Ordner. Die Adresse wird Ihren Kunden in der App ebenfalls
            angezeigt.</small
          >
        </div>

        <div class="form-group">
          <textarea
            type="text"
            name="freeText"
            class="form-control"
            placeholder="Freitext (Name des Betriebs, Adresse, ..."
            [(ngModel)]="freeText"
          ></textarea>
          <small class="form-text"
            >Hinterlegen Sie einen beliebigen Freitext. Dieser Text wird dem
            Kunden in der App ebenfalls angezeigt.</small
          >
        </div>

        <div class="form-group">
          <input
            type="text"
            name="table"
            class="form-control"
            placeholder="Tischnummer"
            [(ngModel)]="table"
          />
          <small class="form-text"
            >Optionale Tischnummer, damit muss der Kunde diese nicht mehr
            separat erfassen.</small
          >
        </div>

        <button
          [disabled]="!email || !freeText"
          type="submit"
          class="btn btn-lg btn-secondary"
          (click)="generate()"
        >
          QR Code erstellen
        </button>
        <div>
          <img [src]="dataUrl" />
        </div>
        <button
          *ngIf="dataUrl"
          type="submit"
          class="btn btn-lg btn-secondary"
          (click)="print()"
        >
          Jetzt drucken
        </button>
      </form>
    </main>

    <footer class="mastfoot mt-auto"></footer>
  </div>
</div>

<div class="text-center" class="print">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <main role="main" class="inner cover">
      <h1 class="cover-heading">COVID19 Registrierung</h1>
      <p class="lead">
        Laden Sie einfach die Covid19Reg App vom Google Playstore herunter und
        scannen Sie den QR Code. Die App fragt Sie lediglich nach den
        Kontaktinformationen (E-Mail oder Telefonnummer) und sendet die Angaben
        Es wird keine Anmeldung, Registrierung oder ähnliches benötigt. Einfach
        unkompliziert.
      </p>

      <div>
        <img [src]="dataUrl" />
      </div>
    </main>
  </div>
</div>
